In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [4]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

In [5]:
#MODULO
10 % 3

1

In [6]:
18 % 7

4

In [7]:
4%2

0

In [8]:
l

[1, 2, 3, 4, 5]

In [11]:
for num in l:
    if num % 2 == 0:
        print 'Here is an even'
    else:
        print 'Odd number!'

Odd number!
Here is an even
Odd number!
Here is an even
Odd number!

In [12]:
l

[1, 2, 3, 4, 5]

In [13]:
list_sum = 0

In [14]:
for num in l:
    list_sum += num
print list_sum

15

In [15]:
s = 'this is a string!'

In [17]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [18]:
tup =(1,2,3,4,5)

In [19]:
for t in tup:
    print t

1
2
3
4
5

In [20]:
l = [(2,4),(6,8),(10,12)]

In [21]:
for point in l:
    print point

(2, 4)
(6, 8)
(10, 12)

In [23]:
for (t1,t2) in l:
    print t1+t2

6
14
22

In [24]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

In [25]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [26]:
for item in d:
    print item

k3
k2
k1

In [27]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1